<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Linked Swissbib REST API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
</head>
    <body>
        <header class="page-row">
            <div class="container">
                <a href="/">
                    <img class="logo" src="{{ asset('img/swissbib.svg') }}" alt="Swissbib Logo" />
                </a>
                <h2>Hypermedia driven REST API for linked bibliographic resources. <span style="color:red;"></span></h2>
            </div>
        </header>
        <section class="page-row page-row-expanded">
            <div class="container">
                <h1>Response</h1>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
        <footer class="page-row">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h2>About</h2>
                        <p>The Linked Swissbib REST API is part of the project <a href="http://linked.swissbib.ch" target="_blank">linked.swissbib.ch</a>.</p>
                        <p>It is a hypermedia-driven REST API based on <a href="https://www.hydra-cg.com/spec/latest/core/" target="_blank">Hydra</a> principals - created using <a href="https://api-platform.com/" target="_blank">API-Platform</a>.</p>
                    </div>
                    <div class="col-4">
                        <h2>Links</h2>
                        <ul>
                            <li>
                                <a href="/docs" target="_blank">Documentation</a>
                            </li>
                            <li>
                                <a href="http://www.markus-lanthaler.com/hydra/console/" target="_blank">Hydra Console</a>
                            </li>
                            <li>
                                <a href="https://github.com/linked-swissbib/hydra-swissbib.ch" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://linked-swissbib.github.io/datamodel/" target="_blank">Data model</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h2>Contact</h2>
                        <p>Do you have any questions regarding the API? Feel free to contact us by sending us an <a href="mailto:swissbib-ub@unibas.ch">email</a>.</p>
                    </div>
                </div>
            </div>
            <div class="created-by">
                <div class="container">
                    <p>Created by <a href="https://github.com/stuckime" target="_blank">Melanie Stucki</a> and <a href="https://github.com/maechler" target="_blank">Markus Mächler</a> at <a href="http://www.fhnw.ch/" target="_blank">FHNW</a>.</p>
                </div>
            </div>
        </footer>
    </body>
</html>