<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Linked Swissbib API</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
</head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>